body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 20px auto;
    width: 50%;
    max-width: 800px;
    min-width: fit-content;
    border: 3px solid grey;
    padding: 5px;
    
}
header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    background: lightgrey;
    max-width: 800px;
    height: 80px;
    padding: 10px;
}

h1 {
    background: lightgrey;
    grid-row: 1/2;
    font-size: 65px;
    margin-top: auto;
    margin-bottom: auto;
    
}

header img {
    grid-column: 2/3;
    grid-row: 1/3;
    border-radius: 1em;
    box-shadow: 5px 5px 15px;
    
}

#lastModified {
    color: red;
}

footer {
    text-align: center;
    max-width: 800px;;
    background: lightgrey;
    padding: 10px;
}
