@media only screen and (min-width: 650px) {

/*====================================================================*/
/*                         Shared Styles                              */
/*====================================================================*/

nav ul {
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}

li:first-child a:hover {
    border-radius: 5px 0 0 5px;
}

li:last-child a:hover {
    border-radius: 0 5px 5px 0;
}

nav button {
    display: none;
}

.hide {
    display: flex;
}

h1 {
    margin-left: 40px;
}

/*====================================================================*/
/*                          Home Styles                               */
/*====================================================================*/
.call-to-action a {
    font-size: x-large;
    padding: 20px;
}

/*====================================================================*/
/*                         Rexburg Styles                             */
/*====================================================================*/


/*====================================================================*/
/*                         Join/Thank You Styles                      */
/*====================================================================*/


/*====================================================================*/
/*                         Directory Styles                           */
/*====================================================================*/

.cards img {
    height: 250px;
}

.cards h2 {
    font-size: 24px;
}

.cards  {
    margin-top: 2rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    
}


/*====================================================================*/
/*                         Contact Styles                             */
/*====================================================================*/

    



    
    

}
