body {
	background-color: #6f8ab7;
	font-family: 'Josefin Sans', sans-serif;
}
/* Header */
header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    background-color: whitesmoke;
	padding: 10px;
	margin: 5px;
	border: solid;
	border-color: #615d6c;
	border-width: 1px;
    border-radius: 5px;
}

header img {
	float: left;
	display: block;
    max-width: 100px;
}

.headings {
	text-align: center;
}

/* Nav */
#responsive-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

nav {
	background-color: whitesmoke;
    text-align: center;
	margin: 5px;
	border: solid;
	border-color: #615d6c;
	border-width: 1px;
    border-radius: 5px;
}

nav li {
    text-align: center;
}

nav button {	
    margin: .7rem .5rem;
    
    border: none;
    font-size: 1.4rem;
}

li a:link {
    color: #615d6c;
    display: block;
    text-decoration: none;
    padding: 10px;
}

li a:hover {
	background-color: lightgrey;
}

/* Main */
main {
    text-align: left;
    background-color: whitesmoke;
	margin: 5px;
	border: solid;
	border-color: #615d6c;
	border-width: 1px;
    border-radius: 5px;
    padding: .5em 0 .5em;
}

main div {
    margin: .5em;
    padding: .5em;
}

h1 {
    margin-left: 35px;
}

/* Hero image */


main .hero-img img {
    width: 100%;
    
}

.hero-img {
    position: relative;
}


/* Weather Summary */


.summary {
    display: flex;
    background-color: #6f8ab7;
}

.summary h2 {
    color: whitesmoke;
    margin: 0px;
}

.summary p {
    color: whitesmoke;
    font-size: x-small;
    justify-content: center;
    
    padding: 2px;
    margin: 2px;
}

.weatherValue {
    color: whitesmoke;
    text-align: left;
}

/* 5 Day Forecast */


.fiveDayContainer {
    margin: auto;
}

.fiveDayForecast {
    display: flex;
    justify-content: space-around;
    background-color: #6f8ab7;
}

.fiveDayForecast div {
    border: whitesmoke solid 2px;
    margin: auto;
}


.fiveDayForecast div p {
    color: whitesmoke;
    text-align: center;
    font-size: 14px;
}

.fiveDayForecast div h2 {
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
}

.fiveDayForecast div img {
    padding-bottom: .5rem;
}


/* Article */

.article {
    padding: 0 1rem;
    margin-top: 0;
}


.article img {
    max-width: 100%;
    margin: auto;
}

.article p {
    text-indent: 2rem;
}


/* Footer */
footer {
    text-align: center;
    background-color: white;
	margin: 5px;
	border: solid;
	border-color: #615d6c;
	border-width: 1px;
    border-radius: 5px;
    padding: 8px;
}