body {
	background-color: #6f8ab7;
	font-family: 'Josefin Sans', sans-serif;
}
/*---------- Header ----------*/
header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    background-color: whitesmoke;
	padding: 10px;
	margin: 5px;
	border: solid;
	border-color: #615d6c;
	border-width: 1px;
    border-radius: 5px;
}

header img {
	float: left;
	display: block;
    max-width: 100px;
}



.headings {
	text-align: center;
}

/*---------- Nav ----------*/
#responsive-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

nav {
	background-color: whitesmoke;
    text-align: center;
	margin: 5px;
	border: solid;
	border-color: #615d6c;
	border-width: 1px;
    border-radius: 5px;
}

nav li {
    text-align: center;
}

nav button {	
    margin: .7rem .5rem;
    
    border: none;
    font-size: 1.4rem;
}

li a:link {
    color: #615d6c;
    display: block;
    text-decoration: none;
    padding: 10px;
}

li a:hover {
	background-color: lightgrey;
}

/*---------- Main ----------*/
main {
    text-align: left;
    background-color: whitesmoke;
	margin: 5px;
	border: solid;
	border-color: #615d6c;
	border-width: 1px;
    border-radius: 5px;
    padding: .5em 0 .5em;
}

main div {
    margin: 1.5em;
    padding: .5em;
}

h2 {
    padding-left: 35px;
    font-size: 28px;
}

/*---------- Images ----------*/
.images {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    justify-content: center;
}

.gallery-img-box {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 grey;
    border-radius: 5px;
    margin: 5px;
}

.gallery-img {
    width: 100%;
}

.img-text {
    text-align: center;
}




/*---------- Footer ---------- */
footer {
    text-align: center;
    background-color: white;
	margin: 5px;
	border: solid;
	border-color: #615d6c;
	border-width: 1px;
    border-radius: 5px;
    padding: 8px;
}

footer h3 {
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 5px;
}

.footer-map img {
    display: block;
    margin: auto;
    max-width: 80%;
    padding: 1rem;
}

.footer-bar {
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 5px;
}